# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
coverage/
.playwright-cli/
__pycache__/
*.pyc
.serena
firebase-debug.log
.env
.github_oauth_tokens.json
.oauth_tokens.json
